@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 font-bodyFont;
  }
}

@layer components{
    .bannerIcon{
        @apply w-16 h-16 bg-white border border-gray-200 text-gray-800 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-black hover:text-white hover:border-black hover:-translate-y-1 transition-all cursor-pointer duration-300;
    }
    .resumeLi {
        @apply w-full h-20 bg-white border border-gray-200 text-xl text-gray-800 flex justify-center cursor-pointer hover:bg-black hover:text-white duration-300 items-center rounded-none font-semibold;
    }
    .bgOpacity {
        @apply bg-gray-200;
    }
    .contactInput{
        @apply w-full h-12 rounded-lg border border-gray-300 bg-white text-gray-900 px-4 active:outline-none focus-visible:outline-black outline-none focus-visible:border-black duration-300 shadow-sm;
    }
    .contactTextArea{
        @apply w-full rounded-lg border border-gray-300 bg-white text-gray-900 px-4 py-3 active:outline-none focus-visible:outline-black outline-none focus-visible:border-black duration-300 resize-none shadow-sm;
    }
}

.active {
    color: #000000;
    font-weight: 700;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}